.wave-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 10px;
  height: 50px;
  background-color: #4a90e2;
  margin: 0 2px;
  border-radius: 20px;
  animation: wave-animation 1s ease-in-out infinite;
}

.wave:nth-child(2) {
  animation-delay: 0.2s;
}

.wave:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}
